.example-spacer {
    flex: 1 1 auto;
  }
  
  .main-body {
    padding-top: 20px;
    margin: 0 auto;
    max-width: 1348px;
    mat-form-field {
     // width: 100%;
      display: inline-block;
    margin-right: 10px;
    }
  }
  
  .action {
    display: flex;
    gap: 5px;
  }
 
  /* Optionally, if you want to control the width of the form fields */
